@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color:lightgray;
    color:steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    box-shadow: 0 0 0 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
}

#status{
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
}
#restart{
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color:black;
    border: none;
    border-radius: 3px;
}

.win{
animation: winnerAnimation ease-in-out 1s infinite;
}

@keyframes winnerAnimation {
    0%{background-color: black;}
    15%{background-color: white;}
    100%{background-color:steelblue;}
}
h1{
    padding-bottom: 5%;
}